 {% include 'navbar.html' %}

 {% load static %}
 <link rel="stylesheet" href="{%static 'css/indexcss.css'%}">

 <html>
 <body>
       <div class="container-lg">
         <div class="row justify-content-center align-items-center">
           <div class="col-lg-5 text-center text-md-start">

  <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
   <br>
  <br>
  <br>
  <br>
  <br>
  <br>

             <p class="display-3 font-weight-bold align-items-center">
              PINOYPODS
             </p>
             <br>
             <br>
            <h3 class=""> -Welcome to PINOYPODS, We glad to have you here-</h3>
            <br>
            <br>

            <a href="allfood" class="btn btn-lg">Buy Now</a>
           </div>

         </div>
       </div>
  </body>
</html>

