.mainclass {
	margin-top: 100px;
}
.thistop {
	position: static;
	width:70%;
	height:150px;
	background:white;
	margin-left: 15%;
	float:left;
	box-shadow:1px 1px 5px;
	border-radius:4px;
	margin-bottom:10px;
}
.this2top {
	position: static;
	height: 140px;
	float: left;
	width:200px;
	background-size: 100% 100%;
	border-radius:4px;
	overflow:hidden;
	margin: 5px;
}
.span1 {
	color:black;
	float:left;
	margin-left:10px;
}
.span2 {
	font-size: 14px
}
.b1 {
	letter-spacing: 3px;
	color: grey;
}
.b2 {
	font-size:20px
}
.qnt {
	text-align: center;
}
#tlp {
	color: black;
}
.totalprice {
	outline:none;
	border:none;
	width:auto!important;
}
.button1 {
	float: right;
	border-bottom-left-radius: 12px;
	padding: 15px 15px 15px 15px;
	margin-bottom: 0px;
	margin-top: auto!important;
	background: red;
	color:white;
	font-weight: bold;
	border:none;
	outline:none;
}
.butn1 {
	cursor:pointer;
	text-align:center;
	box-shadow:1px 1px 5px;
	border-radius:5px;
	width:50%;
	margin-left:25%;
	outline:none;	
	border:none;
	height:40px;
	margin-top:20px;
	margin-bottom:20px;
} 
.butn2 {
	display:none;
	box-shadow:1px 1px 5px;
	border-radius:5px;
	width:50%;
	margin-left:25%;
	outline:none;
	border:none;
	height:40px;
	margin-top:20px;
	margin-bottom:20px;
}